body{
    text-align: center;
    background-color: #8458B3;
    margin-top: 80px;
}
.btn{
    padding: 20px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    background-color: #d0bdf4;
}
.btn1{
    padding: 16px;
    margin: 3px;
        border: 2px solid black;
        border-radius: 20px;
        cursor: pointer;
        background-color: #d0bdf4;
}
.row{
    margin: 8px 0;
}
.input{
        padding: 10px 30px;
        border: 2px solid black;
        font-size: 15px;
      
}
h1{
    color:#eac4ec;
}
